@model List<Service>
@foreach (var Service in Model)
{


    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="single-service">
            <h3><a href="teacher.html">PROFESSIONAL TEACHER</a></h3>
            <p>I must explain to you how all this mistaken denouncing pleure and praising pain </p>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="single-service">
            <h3><a href="teacher.html">PROFESSIONAL TEACHER</a></h3>
            <p>I must explain to you how all this mistaken denouncing pleure and praising pain </p>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="single-service">
            <h3><a href="teacher.html">PROFESSIONAL TEACHER</a></h3>
            <p>I must explain to you how all this mistaken denouncing pleure and praising pain </p>
        </div>
    </div>



}
