<!-- Courses

<div class="container">
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Default form</h4>
                    <p class="card-description"> Create Courseses Courses Form </p>
                    <form class="forms-sample" method="Post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label asp-for="Image"></label>
                            <input asp-for="Image" class="form-control" accept="image/*" placeholder="Image">
                            <span class="text-danger" asp-validation-for="Image"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Title"></label>
                            <input class="form-control" asp-for="Title" placeholder="Title"></input>
                            <span class="text-danger" asp-validation-for="Title"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description"></label>
                            <input class="form-control" asp-for="Description" placeholder="Description"></input>
                            <span class="text-danger" asp-validation-for="Description"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ImageTitle"></label>
                            <input class="form-control" asp-for="ImageTitle" placeholder="ImageTitle"></input>
                            <span class="text-danger" asp-validation-for="ImageTitle"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AboutDescription"></label>
                            <input class="form-control" asp-for="AboutDescription" placeholder="AboutDescription"></input>
                            <span class="text-danger" asp-validation-for="AboutDescription"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ApplyDescription"></label>
                            <input class="form-control" asp-for="ApplyDescription" placeholder="ApplyDescription"></input>
                            <span class="text-danger" asp-validation-for="ApplyDescription"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CertificationDescription"></label>
                            <input class="form-control" asp-for="CertificationDescription" placeholder="CertificationDescription"></input>
                            <span class="text-danger" asp-validation-for="CertificationDescription"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CourseFeaturesId"></label>
                            <input class="form-control" asp-for="CourseFeaturesId" placeholder="CourseFeaturesId"></input>
                            <span class="text-danger" asp-validation-for="CourseFeaturesId"></span>
                        </div>-->
                        @*<div class="form-group">
                            <label asp-for="CourseFeatures"></label>
                            <input class="form-control" asp-for="CourseFeatures" placeholder="Title"></input>
                            <span class="text-danger" asp-validation-for="CourseFeatures"></span>
                        </div>*@

                        <!--<button class="btn btn-primary">Submit</button>
                        <button asp-action="Index" class="btn btn-outline-warning"> Go Back</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>-->

